<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/MainLayout}" >

<th:block layout:fragment="css">
  <style>

  </style>
</th:block>

<div layout:fragment="content">

  <div class="container" th:object="${boardFormDto}">
      <div  style="float:left;">
          <a class="btn btn-default"  style="border: 1px solid black" th:href="@{/board/list}">목록으로</a>
      </div>


      <div  style="float:right;">
          <button type="submit" class="btn btn-outline-warning" th:onclick="|location.href='@{/board/update/{id}(id=${boardFormDto.id})}'|">수정</button>
      </div>
      <table class="table">
          <tr>
              <th class="th-info">제목</th>
              <td>
                  <div style="margin: 0 auto; width: 50%;">
                      <h5  style="text-align: center" th:text="*{subject}"></h5>
                  </div>
              </td>
          </tr>
          <tr>
              <th class="th-info">작성자</th>
              <td>
                  <div style="margin: 0 auto; width: 50%;">
                      <h5  style="text-align: center" th:text="*{writer.nickname}"></h5>
                  </div>
              </td>
          </tr>
          <tr>
              <th class="th-info">작성날짜</th>
              <td>
                  <div style="margin: 0 auto; width: 50%;">
                      <h5  style="text-align: center" th:text="${#temporals.format(boardFormDto.updateDate, 'yyy-MM-dd HH:mm') }"></h5>
                  </div>
              </td>
          </tr>
          <tr>
              <th class="th-info">조회수</th>
              <td>
                  <div style="margin: 0 auto; width: 50%;">
                      <h5  style="text-align: center" th:text="*{view}"></h5>
                  </div>
              </td>
          </tr>
          <tr>
              <th class="th-info">내용</th>
              <td>
                  <div style="margin: 0 auto; ">
                      <textarea rows="15"  style=" width: 100%" th:text="*{content}"></textarea>
                  </div>
              </td>
          </tr>
      </table>

      <!--답변기능-->
        <br><br>
      <h5 class="border-bottom my-3 py-2"
          th:text="|${#lists.size(boardFormDto.answerList)}개의 답변이 있습니다.|"></h5>
      <div class="card my-3" th:each="answer : ${boardFormDto.answerList}">
          <div class="card-body">
              <div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>
              <div class="d-flex justify-content-end">

                  <div class="badge bg-light text-dark p-2 text-start">
                      <div th:text="${answer.member.nickname}"></div>
                  </div>
                  <div class="badge bg-light text-dark p-2 text-start">
                      <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                  </div>
              </div>
          </div>
      </div>
      <form th:action="@{|/board/answer/create/${boardFormDto.id}|}" method="post">
          <textarea name="content" id="content" rows="5" style="width: 100%;"></textarea>
          <input type="submit" class="btn btn-outline-primary" style="float: right" value="답변등록">
      </form>
  </div>
</div>

</html>