<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link th:href="@{/css/form.css}" rel="stylesheet">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <th:block>
        <script th:inline="javascript">
            function setImage(event) {
                let reader = new FileReader();

                // 비어있음
                let result = document.getElementsByTagName("img");

                reader.onload = (e) => {
                    console.log("이미지변경")
                    if (result.namedItem("image") !=null) {
                        document.getElementById("image").src = e.target.result
                    }
                };
                reader.readAsDataURL(event.files[0]);
            };
            function initImage() {
                let result = document.getElementsByTagName("img");

                if (result.namedItem("image") !=null) {
                    document.getElementById("image").src = "/img/user.png";
                }
                else if(result.namedItem("image2") !=null) {
                    document.getElementById("image2").src ="/img/user.png";
                }
                alert("이미지가 삭제되었습니다.");
            };

        </script>
    </th:block>

    <th:block>
        <style>
            .user-img{
                width: 300px;
                height: 300px;
            }
            .container{
                margin-left: 200px;
                margin-bottom: 100px;

                border: 1px solid lightgrey;
                box-shadow: 3px 3px 3px;
            }
        </style>
    </th:block>

</head>
<body th:object="${memberImg}">
<h1 style="margin-left: 200px; margin-top: 80px">이미지 수정</h1>
<div class="container">

    <form th:action="@{/members/update/image/{id}(id=${id})}" method="post" role="form" enctype="multipart/form-data">

        <div class="row g-2">
            <div class="col-4" style="width: 30%; border: 2px solid white; margin-left: 100px">
                <img id="image" class="user-img"  th:src="@{${memberImg.getUrl()}}">
            </div>
            <div  class="col-5" style="margin-left: 50px; margin-top: 100px">
                <div class="image-text" >
                    <h4>파일을 선택해주세요.</h4>
                    <p style="color:lightgrey;">JPG, JPEG, PNG 파일을 넣어주세요..</p>
                </div>
                <div class="row">
                    <div class="col">
                        <input name="memberImgFile" type="file" class="form-control" onchange="setImage(this)">
                    </div>
                    <div class="col">
                        <button  type="button" class="btn btn-outline-danger"  onclick="initImage()">이미지 삭제</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <p th:if="${errorMessage}" class="error" th:text="${errorMessage}"></p>
        </div>
        <div style="text-align: right">
            <button type="submit" class="btn btn-outline-danger" style="">수정완료</button>
        </div>

    </form>
</div>

</body>
</html>

