<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/MainLayout}" >

<!--css 추가-->
<th:block layout:fragment="css">
    <style>
        .form-group{
            margin: 20px auto;
            width: 50%;
        }
        .fieldError{
            color: red;
        }
        .col-md-4{
            margin: 20px auto;
            width: 50%;
        }

    </style>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function setImage(event) {
            let reader = new FileReader();

            reader.onload = (e) => {
                console.log("이미지변경")
                document.getElementById("image").src =e.target.result
            };
            reader.readAsDataURL(event.files[0]);
        };

        // 에러 처리
        $(document).ready(function(){
            let errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });

    </script>
</th:block>

<div layout:fragment="content">
    <h1 style="text-align: center">회원가입</h1>
    <form th:action="@{/members/new}" method="post" role="form" enctype="multipart/form-data" th:object="${memberFormDto}">
        <div class="dust-class">
            <label th:for="email"><span>* </span>이메일주소</label>
            <input type="text" class="txt-input" th:field="*{email}" placeholder="이메일을 입력해주세요">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect data</p>
        </div>

        <div class="dust-class">
            <label th:for="password"><span>* </span>비밀번호</label>
            <input type="password" class="txt-input" th:field="*{password}" placeholder="비밀번호를 입력해주세요">
            <div th:if="${not #fields.hasErrors('password')}" class="form-text">
                비밀번호는 8~20자로 설정해주세요.
            </div>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect data</p>
        </div>

        <div class="row g-2" style="width: 50%; margin: 10px auto">
            <div class="col-md" >
                <div class="dust-class" style="width: 100%">
                    <label th:for="name"><span>* </span>이름</label>
                    <input type="text" class="txt-input" th:field="*{name}" placeholder="이름을 입력해주세요">
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>
                </div>
            </div>
            <div class="col-lg">
                <div class="dust-class" style="width: 100%">
                    <label th:for="nickname"><span>* </span>닉네임</label>
                    <input type="text" class="txt-input" th:field="*{nickname}" placeholder="닉네임을 입력해주세요">
                    <p th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="fieldError">Incorrect data</p>
                </div>
            </div>
        </div>

        <div class="dust-class">
            <label th:for="address"><span>* </span>주소</label>
            <input type="text" class="txt-input" th:field="*{address}" placeholder="주소을 입력해주세요">
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="fieldError">Incorrect data</p>
        </div>



        <div class="row g-2" style="width: 50%; margin: 20px auto">
            <h3>대표이미지 설정</h3>
            <div class="col-md-4">
                <div class="card" style="width: 18rem; height: 18rem; border-radius: 50%">
                    <img src="/img/user.png" id="image" class="card-img-top" style="width: 100%; height: 100%;  border-radius: 50%">
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-text" >
                    <h4>파일을 선택해주세요.</h4>
                    <p style="color:lightgrey;">이미지는 나중에 수정할 수 있습니다.</p>
                </div>
                <input name="memberImgFile" type="file" class="form-control" onchange="setImage(this)">
            </div>
        </div>

        <div style="text-align: center">
            <button type="submit" class="btn btn-outline-danger" style="">회원가입</button>
        </div>

    </form>
</div>

</html>