<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/MainLayout}" >

<!--css 추가-->
<th:block layout:fragment="css">
    <style>
        .form-group{
            margin: 20px auto;
            width: 50%;
        }
        .fieldError{
            color: red;
        }
        .col-md-4{
            margin: 10px auto;
            width: 50%;
        }

    </style>
</th:block>

<th:block layout:fragment="script">
    <script>
        function setImage(event) {
            var reader = new FileReader();

            reader.onload = (e) => {
                document.getElementById("image").src =e.target.result;
            };
            reader.readAsDataURL(event.files[0]);
        };
    </script>
</th:block>

<div layout:fragment="content">
    <h1 style="text-align: center">회원가입</h1>
    <form action="/members/new" method="post" role="form" th:object="${memberFormDto}">
        <div class="form-group">
            <label th:for="email">이메일주소</label>
            <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력해주세요">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect data</p>
        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호 입력해주세요.">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect data</p>
        </div>
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력해주세요">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>
        </div>
        <div class="form-group">
            <label th:for="address">닉네임</label>
            <input type="text" th:field="*{nickname}" class="form-control" placeholder="닉네임을 입력해주세요">
            <p th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="fieldError">Incorrect data</p>
        </div>
        <div class="row g-2" style="width: 50%; margin: 20px auto">
            <div class="col-md-4">
                <div class="card" style="width: 18rem; height: 18rem">
                    <img id="image" class="card-img-top" style="width: 100%; height: 100%">
                    <input type="file" class="form-control"  onchange="setImage(e)">
                </div>
            </div>
        </div>

        <div style="text-align: center">
            <button type="submit" class="btn btn-primary" style="">회원가입</button>
        </div>

    </form>
</div>

</html>